# Python virtual environments
venv/

# Jupyter notebook auto-checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Notebook conversion output
Graphs.py

# System files (Mac / Linux)
.DS_Store

# Logs
*.log
